@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #3c3c3c;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 100px;
  background: #9e9494;
  background: url("assets/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#paula,
#lola,
#milles {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lola .card-box-avatar-image {
  border-color: #96d5e9;
}
#lola .card-box-pin h3 {
  color: #96d5e9;
}
#lola .card-box-title {
  color: #96d5e9;
}
#lola .card-box-infos {
  background: rgba(150, 213, 233, 0.2);
}
#lola .card-box-infos div div {
  background: #96d5e9;
}
#lola .card-box-more h3 {
  color: #96d5e9;
}
#lola .card-box-class {
  background: #ddf7ff;
}
#lola .card-box-class h3 {
  color: #96d5e9;
}
#lola .card-numbers h2 {
  background: linear-gradient(180deg, #ddf7ff 0%, #80c3d8 25.52%, #ddf7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#milles .card-box-avatar-image {
  border-color: #405971;
}
#milles .card-box-pin h3 {
  color: #405971;
}
#milles .card-box-title {
  color: #405971;
}
#milles .card-box-infos {
  background: #f0f8ff;
}
#milles .card-box-infos div div {
  background: #405971;
}
#milles .card-box-more h3 {
  color: #405971;
}
#milles .card-box-class {
  background: #d1e5f8;
}
#milles .card-box-class h3 {
  color: #405971;
}
#milles .card-numbers h2 {
  background: linear-gradient(180deg, #405971 -64.71%, #a5cbee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#paula .card-box-avatar-image {
  border-color: #00c9bd;
}
#paula .card-box-pin h3 {
  color: #00c9bd;
}
#paula .card-box-title {
  color: #00c9bd;
}
#paula .card-box-infos {
  background: #e7fffe;
}
#paula .card-box-infos div div {
  background: #00c9bd;
}
#paula .card-box-more h3 {
  color: #00c9bd;
}
#paula .card-box-class {
  background: #d3fffc;
}
#paula .card-box-class h3 {
  color: #00c9bd;
}
#paula .card-numbers h2 {
  background: linear-gradient(180deg, #0cb4aa 0%, #bffffb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-box {
  position: relative;
  width: 389px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.18);
  border-radius: 17px;
  padding: 13px 30px 39px 30px;
  margin-bottom: 20px;
}
.card-box-star {
  position: absolute;
  z-index: -1;
}
.card-box-star-1 {
  bottom: -30px;
  left: -80px;
}
.card-box-star-2 {
  top: -20px;
  right: -80px;
}
.card-box-avatar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -50px;
  top: -40px;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  z-index: 3;
}
.card-box-avatar-image {
  border: 5px solid;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.card-box-avatar-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-box-avatar-avatar {
  z-index: 40;
  position: absolute;
  top: -20px;
  right: -30px;
}
.card-box-pin {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -65px;
  right: -95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.card-box-pin-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-box-pin h3,
.card-box-pin p,
.card-box-pin img:nth-child(2) {
  z-index: 3;
  transform: rotate(-5.23deg);
}
.card-box-pin h3 {
  font-family: "Paytone One";
  font-weight: 500;
}
.card-box-pin p {
  font-weight: 400;
  font-size: 10px;
  width: 50%;
  margin-left: 35px;
  color: #000000;
}
.card-box-title {
  font-family: "Paytone One";
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin-left: 40px;
}
.card-box-subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 17px;
  margin-left: 40px;
  margin-bottom: 15px;
  color: #000000;
}
.card-box-infos {
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.card-box-infos div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-box-infos div div {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}
.card-box-infos div h5 {
  color: #000;
  font-weight: 500;
  font-size: 10px;
}
.card-box-description {
  width: 230px;
  padding: 20px 0 5px 0;
}
.card-box-description p {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}
.card-box-description p span {
  font-weight: 600;
  font-size: 14px;
}
.card-box-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.card-box-more div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.card-box-more div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}
.card-box-more div div h3 {
  font-family: "Paytone One";
  font-weight: 400;
  margin-top: -3px;
}
.card-box-more div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.card-box-class {
  position: absolute;
  right: -80px;
  top: 190px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-box-class h3 {
  font-family: "Paytone One";
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}
.card-box-class li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-weight: 400;
  font-size: 13px;
}
.card-box-class li span {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.card-sep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.card-sep h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
}
.card-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card-numbers div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 14px;
  padding: 10px;
  width: 140px;
}
.card-numbers div h5 {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.card-numbers div h2 {
  font-family: "Paytone One";
  font-weight: 800;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */